*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

body{
    background:black;
    font-family:Courier New;
    color:lime;
    display:flex;
    justify-content:center;
    align-items:center;
    height:100vh;
    overflow:hidden;
}

.container{
    width:700px;
    background:#0a0a0a;
    padding:40px;
    border-radius:25px;
    box-shadow:0 0 35px lime;
    text-align:center;
}

h1{
    color:red;
    font-size:55px;
    margin-bottom:40px;
    text-shadow:0 0 15px red;
}

textarea{
    width:100%;
    height:250px;
    background:black;
    color:lime;
    border:2px solid lime;
    padding:20px;
    font-size:28px;
    resize:none;
    outline:none;
    border-radius:10px;
}

button{
    margin-top:35px;
    padding:18px 40px;
    background:red;
    color:white;
    border:none;
    border-radius:12px;
    font-size:28px;
    cursor:pointer;
    transition:0.3s;
}

button:hover{
    background:darkred;
    transform:scale(1.05);
}

.loading{
    margin-top:25px;
    color:yellow;
    display:none;
    font-size:26px;
}

#result{
    margin-top:25px;
    font-size:38px;
}

#percentage{
    margin-top:15px;
    color:cyan;
    font-size:30px;
}

#detectedWords{
    margin-top:15px;
    color:orange;
    font-size:24px;
}

.spam-alert{
    animation:blink 0.5s infinite;
}

@keyframes blink{

    0%{
        background:black;
    }

    50%{
        background:#300;
    }

    100%{
        background:black;
    }
}
